/*
MorphTabs styles
*/

.morphtabs_title {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 24px;
}

.morphtabs_title li {
	float: left;
	background-color: #3975BD;
	padding: 2px 8px 2px 8px;
	margin-right: 2px;
	cursor: pointer;
	color: #fff;
	font-family: "Trebuchet MS";
	font-size: 12px;
	height: 24px;
	line-height: 24px;
}

.morphtabs_title li.over {
	font-weight: bold;
}

.morphtabs_title li.active {
	background-color: #49A8EC;
}

.morphtabs_panelwrap { 
	position: relative;	
	top: -1px;
	clear: both;
	overflow: hidden;
}

.morphtabs_panel {
	background-color: #49A8EC;
	color: #fff;
}

.morpthtabs_panel p {
	margin-left:5px;
}
